---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ari Bambang Kurniawan. About me</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="About">
	<meta name="keywords" content="Ari Bambang Kurniawan">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="project">
			<div class="container">
				<article>
					<span class="h2">Do you want to know more</span>
					<h1>
						<a href="" target="_blank" title="click, if you want, but nothing will happen" rel="nofollow">About me</a>
					</h1>
					<span class="h2">Oh, sure, haha, that's cute</span>
					<p>I’m a fresh graduate of Computer Science
						from Institut Teknologi Sumatera, I really like the
						experiment especially on programming and data science of couse also learn new things in that field.
						I can work in the team.</p>
<br>
				</article>
				<aside>
					<ul>
						<li>
							<img src="/assets/images/about/1.jpeg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/2.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/3.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/5.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/4.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/6.jpg" alt="" />
						</li>
					</ul>
				</aside>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>