html,
body {
  height: 100%;
  margin: 0;
  background-color: #b74f35;
}

main {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  width: 60%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

main h1,
h2 {
  color: #ffb81c;
  text-align: center;
}

main p {
  color: white;
  text-align: center;
  font-size: 18px;
}

main img {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid #ffb81c;
}
main ol li {
  color: white;
  list-style-type: decimal;
  list-style-position: inside;
  text-align: center;
  display: list-item;
  margin: 0;
  font-size: 18px;
}

main a {
  background-color: #ffb81c;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 16px 24px;
  position: relative;
  text-decoration: none;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main a:hover {
  background-color: #ce0606;
  cursor: pointer;
}

.game {
  font-family: 'Roboto', sans-serif;
}
.game-heading img {
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 50%;
  border: 2px solid #ffb81c;
}
.game-input-n {
  width: 20%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.game-input-n label {
  font-size: 18px;
  color: white;
}

.game-input-n input {
  height: 24px;
  width: 250px;
}
.game-input-n button {
  background-color: #ffb81c;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 10px 24px;
  position: relative;
  text-decoration: none;
  width: 100px;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.game-input-n button:hover {
  background-color: #ce0606;
  cursor: pointer;
}

.game-papan {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-papan table th td {
  border: 0px solid black;
}

.game-papan td {
  height: 50px;
  width: 50px;
  text-align: center;
}
.game-papan input[type='checkbox'] {
  outline: 1px solid red;
}

.game-papan input:checked + span:before {
  content: '👑';
}

.game-submit {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.game-submit button {
  background-color: #ffb81c;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 10px 24px;
  position: relative;
  text-decoration: none;
  width: 100px;
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.game-submit button:hover {
  background-color: #ce0606;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  main {
    width: 95%;
  }
}
