<footer class="footer">
  <div class="container">
    <section class="contact">
      <h2>Contact</h2>
      <a title="{{ site.email }}" href="mailto:{{ site.email }}"
        >{{ site.email }}</a
      >
    </section>
    <section class="follow">
      <h2>Links</h2>
      <ul>
        <li><a title="About Me" href="/about">About Me</a></li>
        <li><a title="CV" href="assets/CV.pdf" target="_blank">CV</a></li>
        <!-- <li>
          <a title="Publications" href="assets/publications.pdf"
            >Publications</a
          >
        </li>
        <li><a title="Blog" href="/blog" target="_blank">Blog</a></li> -->
      </ul>
    </section>
    <section class="follow">
      <h2>Social</h2>
      <ul>
        <li>
          <a title="LinkedIn" href="{{ site.linkedin }}" target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          <a title="Instagram" href="{{ site.instagram }}" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a title="YouTube" href="{{ site.youtube }}" target="_blank"
            >YouTube</a
          >
        </li>
        <!-- <li>
          <a title="Google Scholar" href="{{ site.gscholar }}" target="_blank"
            >Google Scholar</a
          >
        </li> -->
      </ul>
    </section>
  </div>
</footer>
